<!DOCTYPE html>
<html>
<head>
  <title>Dip - Pools Made Possible</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="main-container">
	
		<%= link_to root_path do %>
			<%= image_tag "http://static1.squarespace.com/static/559c687fe4b055d8031282b4/t/56158458e4b089c78ed48c35/1445996923615/?format=1500w", :class => "icon center" %>
		<% end %>
	
		<h1 class="center">Pools Made Possible</h1>

		<%= image_tag "https://photos-3.dropbox.com/t/2/AABwq3Ce9333X9VsCRD__nYqH5Jb45cn56l0di5dDLJ4yg/12/233475917/jpeg/32x32/1/_/1/2/download5.jpg/EIaCqMgBGJ04IAcoBw/2hlElMStd-YhMr5Up30FUbD11V5yAwIa5Wm1obT-rVQ%2CoeCi_k9NQIEXmSYX95wdTMLiQXpRYpAnKP45q4mGGvs%2C8aKNQ9xe_NHrgnYrVNVfkFmasTfByrfGRS2VH2_yJWs?size=800x600&size_mode=2" %>

	<%= yield %>

	<div class="center footer">
		<p id="signature">Poolside, Inc.</p>
	</div>

</div>

</body>
</html>
