<div class="pure-g about" id="body_container">

	<div class="pure-u-1 pure-u-md-1-2 about">
		<h2>Hotel Pools. On Demand.</h2>
		<p class="about" id="body-text">DIP is a member-based web and mobile application that provides on-demand access to luxury hotel amenities such as pools and fitness centers. Members select from a carefully curated list of hotel destinations and gain entry in exchange for an access fee. Enter your email below to sign up!</p>

		<div class="pure-u-1 pure-u-md-1-2 welcome">
			<%= form_for @member do |f| %>
				<%= f.text_field :email, placeholder: 'Enter email', class: 'email-input', :required=>true, style:'margin-top:30px' %>
				<br>
				<%= f.submit 'JOIN', class: 'join-button' %>
			<% end %>	
		</div>

	</div>

	<div class="pure-u-1 pure-u-md-1-2 about">
		<img id="logo" class="pure-img"/>
	</div>

</div>

<!-- <div id="sign-up-container" class="center">
	<p>Sign up to become a DIP member.</p>

	<%= form_for @member do |f| %>
	
		<%= f.text_field :first_name, placeholder: 'Enter first name', class: 'user-signup', :required=>true %>
		<br>

		<%= f.text_field :last_name, placeholder: 'Enter last name', class: 'user-signup', :required=>true %>
		<br>

		<%= f.text_field :zipcode, placeholder: 'Enter zipcode', class: 'user-signup', :required=>true %>
		<br>

		<%= f.text_field :gender, placeholder: 'Enter gender', class: 'user-signup', :required=>true %>
		<br>

		<%= f.text_field :email, placeholder: 'Enter email', class: 'user-signup', :required=>true %>
		<br>

		<%= f.password_field :password, placeholder: 'Create a password', class: 'user-signup', :required=>true %>
		<br>

		<%= f.submit 'SUBMIT', class: 'sign-up-button2' %>

	<% end %>
</div>



 -->

